body {
  margin: 0;
  background: #0f0f0f;
  color: #00ff00;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 30px;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
  font-size: 3rem;
}

.game-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.game-card {
  padding: 20px 30px;
  background: #1f1f1f;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 255, 0, 0.3);
  border: 1px solid #00ff00;
}

.game-card:hover {
  background: #333;
  transform: scale(1.1);
}
