body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 30px;
}

.games {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.game-card {
  padding: 20px 30px;
  background: #1f1f1f;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.2s;
}

.game-card:hover {
  background: #333;
  transform: scale(1.05);
}